/* App.css */
.App {
 
}

header {
  background-color: #351f07b6;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
}

main {
  padding: 20px;
  background-color: #f2f3f3;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  flex-direction: column
  
}

footer {
  background-color: #21304d;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
